.l-app{
    padding-top: 120px;

    @include tablet{
        display: grid;
        gap: 30px 30px;
        grid-template-areas: '. l-sideBarWrapper l-main .'
            '. l-sideBarWrapper l-main .';
        grid-template-columns: 0px minmax(160px, 260px) 1fr 0px;
        grid-template-rows: 1fr;
        margin: 0 auto;
        max-width: $widescreen;
    }
}

.l-app--noSideBar{
    padding-top: 120px;
    grid-template-areas: 'l-main';
    grid-template-columns: 1fr;
    max-width: 100%;

    &.is-hero{
        padding-top: 50px;
    }
}

.l-sideBarWrapper{
    grid-area: l-sideBarWrapper;
}