.c-ck{
    align-items: center;
    background: $paletteWhite;
    bottom: 0;
    box-shadow: #252a3129 1px 1px 5px 2px, #252a311f 0px 1px 4px 0px;
    left: 0;
    padding: 8px 10px;
    position: fixed;
    right: 0;

    .c-btn{
        display: block;
        flex: 1 1 145px;
        margin: 0 auto;
    }

    @include tablet{
        display: flex;

        .c-btn{
            margin-left: 20px;
            max-width: 320px;
        }
    
    }
}