.l-sideBarWrapper{
    @include tablet{
        margin-top: 80px;
    }
}

.l-sideBar{
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;

    @include tablet{
        position: relative;
    }
}

.l-sideBar__body{
    background: $paletteWhite;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: rgba(37, 42, 49, .24) 0px 12px 24px -4px, rgba(37, 42, 49, .32) 0px 8px 60px 0px;
    padding: 40px 10px 10px;
    position: relative;
    z-index: 1000;

    @include tablet{
        background: none;
        box-shadow: none;
    }
}

.l-sideBar__curtain{
    background-color: rgba(0, 0, 0, .5);
    inset: 0px;
    overflow-x: hidden;
    position: fixed;
    z-index: 800;
}

.l-sideBar__close{
    position: absolute;
    right: 15px;
    top: 10px;

    &:hover{
        cursor: pointer;
    }
}
