.c-btn{
    padding: 14px 15px;
    background: green('normal');
    border: none;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    color: $paletteWhite;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    outline: 0;
    display: inline-block;
    cursor: pointer;
    transition: $transition;
    
    &:hover,
    &:focus,
    &:visited,
    &:active{
        background: green('dark');
        color: $paletteWhite;
        transition: $transition;
        text-decoration: none;
    }
}

.c-btn--block{
    display: block;
    width: 100%;
}
a.c-btn--block{
    width: auto;
}

.c-btn--secondary{
    background: none;
    color: grey('darker');
    border: 2px solid green('normal');

    &:hover,
    &:focus,
    &:visited,
    &:active{
        background: none;
        color: grey('darker');
        border: 2px solid green('dark');
        transition: $transition;

    }
}