.c-card{
    box-shadow:#252a3129 1px 1px 5px 2px, #252a311f 0px 1px 4px 0px;
    border-radius: 4px;
    padding: 5px 5px 5px 0;
    transition: $transition;
    display: flex;
    text-align: left;

    &:hover{
        box-shadow: #252a3129 0px 1px 4px 0px, #252a311f 0px 4px 8px 0px;
        transition: $transition;
    }

    @include tablet{
        width: 100%;
    }

}

.c-card__img{
    margin-right: 10px;
    max-width: 100px;
    max-height: 100px;

}

.c-card__title{
    &:before{
        display: none;
    }
}


.c-cardDetail{
    text-align: justify;

}

.c-cardDetail__badge{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.c-cardDetail__badgeItem{
    padding: 5px;
    background: grey('light');
    margin-right: 10px;

}

.c-cardDetail__list{
    list-style-type: square;
    margin-bottom: 20px;

    li{
        list-style-position: outside;
        margin-bottom: 10px;
    }
}

.c-cardWrapper{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 10px 10px;

    @include tablet{
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
    }
}

.c-cardWrapper__item{
    text-decoration: none;

    @include tablet{
        display: flex;
    }
}