.c-checkbox{
    cursor: pointer;
    display: flex;
    font-weight: 400;
    padding: 5px 0;
    text-transform: none;
}

.c-checkbox__over{
    display: inline-block; 
    
    & + .c-checkbox__text{
        margin-left: 10px;
    }
}

.c-checkbox__text{
    color: grey('darker');
    
    & + .c-checkbox__over{
        margin-left: 10px;
    }
}

.c-checkbox__input{
    display: inline-block;
    position: absolute;
    visibility: hidden;  
    
    & + .c-checkbox__span{
        background-color: $paletteWhite;
        border: 1px solid grey('light');
        cursor: pointer;
        display: inline-block;
        height: 20px;
        line-height: 20px;
        margin-top: -2px;
        position: relative;
        text-align: center;
        vertical-align: middle;
        width: 20px;
    }
        
    &:checked + .c-checkbox__span{
        border-color: green('normal');

        &:before{
            background: green('normal') url("~@/assets/icons/check.svg") no-repeat center;
            content: '';
            display: inline-block;
            height: 21px;
            left: 0;
            position: relative;
            top: -1px;
            width: 21px;
        }
    }
}