.c-formRow{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    &.in-row{
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
}
