.c-input{
    background: $paletteWhite;
    border: none;
    border-radius: 4px;
    box-shadow: rgb(186, 199, 213) 0px 0px 0px 1px inset;
    color: grey('darker');
    filter: none;
    padding: 14px 10px;

    &:required,
    &:-moz-ui-invalid{
        box-shadow: none;

        &:focus{
            border: none;
        }
    }

    &:-internal-autofill-previewed,
    &:-internal-autofill-selected,
    &:-webkit-autofill{
        background-color: $paletteWhite !important;
        border: none !important;
        box-shadow: 0 0 0 100px $paletteWhite inset;
    }
}
