.c-title{
}

.c-titleWrapper{
    padding: 0 15px;
}

.c-title__title{
    font-size: 36px;
    margin-bottom: 30px;

}

.c-title__img{
    display: inline-block;
    margin-bottom: 30px;
}

.c-titleHero{
    background: linear-gradient(170deg, #ececec 50%, #fff 50%);
    padding: 0 30px;

    @include tablet{
        display: flex;
        justify-content: space-around;
        height: 60vh;
    }
    
    img{
        @include tablet{
            order: 2;
        }
    }
}

.c-titleHero__wrapper{
    @include tablet{
        align-self: center;
        text-align: left;
    }
}

.c-titleHero__title{
    font-size: 28px;
    
    @include tablet{
        font-size: 40px;
        order: 1;
    }
}