.u-text-center{
    text-align: center !important;
}

.u-text-left{
    text-align: left !important;
}

.u-text-noUnderLine{
    text-decoration: none !important;
}

.u-mb-10{
    margin-bottom: 10px !important;
}

.u-mb-20{
    margin-bottom: 20px !important;
}

.u-mb-30{
    margin-bottom: 30px !important;
}

.u-highLight{
    font-weight: bold;
}
