.u-text-noUnderLine{
    text-decoration: none !important;
}

.u-mb-0{
    margin-bottom: 0px !important;
}

.u-mb-10{
    margin-bottom: 10px !important;
}

.u-mb-20{
    margin-bottom: 20px !important;
}

.u-mb-30{
    margin-bottom: 30px !important;
}


.u-fw-bold{
    font-weight: bold;
}

.u-divider{
    border: 1px solid grey('light');
    margin-bottom: 5px;
}