$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$widescreen: 1200px;

$transition: .3s all ease-out;

$palleteRed: (
    'lighter': #fae0e2,
    'normal': #d3000f,
    'dark': #b8000d,
    'darker': #9e000b,
);
$palleteYellow: (
    'lighter': #faf5e0,
    'normal': #ffdf43,
    'dark': #ffd400,
    'darker': #cca900,
);
$palleteOrange: (
    'lighter': #faeee0,
    'normal': #df9d53,
    'dark': #c27824,
    'darker': #975d1c,
);
$palleteBlue: (
    'lighter': #ddf3fe,
    'normal': #2872d7,
    'dark': #205cac,
    'darker': #184581,
);
$palleteGreen: (
    'lighter': #00a36d,
    'normal': #00a88f,
    'dark': #008571,
    'darker': #064,
);
$palleteGrey: (
    'lighter': #f4f4f4,
    'light': #d9d9d9,
    'normal': #b0b0b0,
    'dark': #737373,
    'darker': #161616,
);
$paletteWhite: #fff !default;

@function grey($tone: base){
    @return map-get($palleteGrey, $tone);
}
@function green($tone: base){
    @return map-get($palleteGreen, $tone);
}
@function blue($tone: base){
    @return map-get($palleteBlue, $tone);
}
@function orange($tone: base){
    @return map-get($palleteOrange, $tone);
}
@function yellow($tone: base){
    @return map-get($palleteYellow, $tone);
}
@function red($tone: base){
    @return map-get($palleteRed, $tone);
}
